body {
    margin: 0;
}


/*
navbar
*/
nav {
    background-color: #60b99a;
}

.container-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.link-home {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}

.link-home img{
    height: 2rem;
    width: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.link-home {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}



.container-navbar h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;

}

.btn-navbar {
    display: inline-block;       
    padding: 0.5rem 1rem;       
    font-size: 1rem;
    font-weight: 500;
    color: white;                
    background-color: #0d6efd;  
    border: 1px solid #0d6efd;
    border-radius: 0.375rem;    
    text-decoration: none;       
    text-align: center;
    cursor: pointer;
    padding: 0.8rem;
}








    





/*Login*/
.container-formulario {
    width: 350px;
    margin: 2rem auto;
    padding: 2.5rem;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-login {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #0d6efd;
}

.formulario {
    width: 55%;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 8px;
}

.titulo-formulario h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-group label {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.input-text {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.olvidar-contraseña {
    text-align: center;
    margin-bottom: 1rem;
}

.olvidar-contraseña a {
    text-decoration: none;
    color: green;
}

.btn-form {
    display: flex;
    justify-content: center;
}

.btn-login {
    width: 10rem;
    height: 3.5rem;
    margin: 0.5rem;
    border-radius: 35px;
    border: none;
    background-color: green;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.btn-login:hover {
    background-color: darkgreen;
}

.crear-cuenta {
    text-align: center;
    margin-top: 1rem;
}

.crear-cuenta a {
    text-decoration: none;
    color: green;
}





