body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*
navbar
*/
nav {
    background-color: #60b99a;
    position: sticky;      /* Navbar fijo en la parte superior al hacer scroll */
    top: 0;               /* pegado arriba */
    width: 100%;          /* ocupa todo el ancho */
    z-index: 1000;        /* por encima del resto */
}

.container-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.link-home {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.link-home img{
    height: 2rem;
    width: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}




.container-navbar h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;

}

.btn-navbar {
    display: inline-block;       
    padding: 0.5rem 1rem;       
    font-size: 1rem;
    font-weight: 500;
    color: white;                
    background-color: #0d6efd;  
    border: 1px solid #0d6efd;
    border-radius: 0.375rem;    
    text-decoration: none;       
    text-align: center;
    cursor: pointer;
    padding: 0.8rem;
}








    





/*Login*/
.container-formulario {
    width: 350px;
    margin: 8rem auto;
    padding: 2.5rem;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.formulario {
    width: 55%;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 8px;
}

.titulo-formulario h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-group label {
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}

.input-text {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    border: 2px solid gray;
    border-radius: 40px;
    padding: 0.7rem;  

}

.input-text:hover{
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3); /* Sombra más suave cuando el input está en hover */

}


.olvidar-contraseña {
    text-align: center;
    margin-bottom: 1rem;
}

.olvidar-contraseña a {
    text-decoration: none;
    color: green;
}

.btn-form {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.btn-login {
    width: 10rem;
    height: 3.5rem;
    margin: 0.5rem;
    border-radius: 35px;
    border: none;
    background-color: green;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.btn-login:hover {
    background-color: darkgreen;
}

.crear-cuenta {
    text-align: center;
    margin-top: 1rem;
}

.crear-cuenta a {
    text-decoration: none;
    color: green;
}

.toast {
    visibility: hidden; /*Oculto por defecto*/
    min-width: 15rem;
    background-color: #007BFF; 
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    font-size: 1rem;

    /*Posicion que usara en la pantalla*/
    position: fixed; /*Fija el toast en pantalla aunque se haga scroll*/
    z-index: 1000; /*Queda por encima de otros elementos*/
    top: 5.2rem;       /* posición desde arriba */
    right: 2.5rem;      /* posición desde la derecha */

}

.toast.mostrar {
    visibility: visible; /*Hace que el toast se muestre en pantalla*/
}


/*Registro*/
.container-formulario-registro {
    width: 500px;
    margin: 2.5rem auto;
    padding: 2.5rem;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container-form-mascota {
    margin-top: 3rem;
}

.header-registro-mascota {
    display: flex;
    justify-content: space-between;
}

.btn-agregar {
    width: 10rem;
    height: 3.5rem;
    margin: 0.5rem;
    border-radius: 35px;
    background-color: #0d6efd;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.btn-eliminar {
    width: 10rem;
    height: 3.5rem;
    margin: 0.5rem;
    border-radius: 35px;
    background-color: rgb(201, 38, 38);
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}



.mascota-card {
  margin-top: 1rem;
  padding: 1rem;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
}


.container-tipo-mascota .input-text {
    width: 60%;
}

#tipo-mascota {
    width: 55%;
    height: 80%;
}

#btn-registrarse {
    margin-top: 2rem;
}

/*Footer*/
 footer{
     background-color: #60b99a ;
     text-align: center;
     padding: 1.5rem 1rem; /* Se colocan dos para que no se vea el margen blanco abajo del footer */
     bottom: 0;
     width: 100%;
 }

.container {
    display: flex;
    flex-wrap: wrap; /*para q no se desborden los elementos y se vayan apilando*/
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
    gap: 30px;
}

footer img{ /*no sé que cambia la vdd*/
    margin-bottom:20px;
    max-width:100% ;
}

.footer-section {
    flex: 1;
    margin: 15px 0;
    text-align: left;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #dc1b52;
    padding-bottom: 8px;
}

.footer-section p {
    color: #f5f9fc;
    line-height: 1.6;
    font-size: 14px;
}

.footer-section ul {
    /*Para eliminar los rellenos y estilos por defecto*/
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    /*Para la transición entre el blanco y el rojo de los textos*/
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #dc1b52;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #444;
    padding-top: 10px;
}